<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        {{key}}
    </p>
    <p>
        {{near}}
    </p>
    <p id="for">
        #ytgsyjhs
    </p>
    <a href="{%url 'templateapp:filter'%}">フィルターサイトです</a>
    <script>
        let y='rgso'
        for(let x=0;x<25;x++){
             y+='<p>aaaaa</p>'
             console.log(y)
        }
        document.getElementById('for').innerHTML+=y
    </script>
</body>
</html>